* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #bed6eb;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px #bed6eb;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f7f7f7;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input[type=text],
input[type=file] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

button[type=submit],
button[type=button] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

button[type=submit]:hover,
button[type=button]:hover {
    background-color: gold;
}

.but {

    display: flex;
    justify-content: center;
    align-items: center;
}

.but {

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .form-container {
        max-width: 100%;
        border: none;
        padding: 10px;
    }

    label {
        font-size: 16px;
    }

    input[type=text],
    input[type=file] {
        font-size: 14px;
    }

    button[type=submit],
    button[type=button] {
        font-size: 16px;
    }
}